<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka"
            type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    <section name="statsD" type="NStatsD.StatsDConfigurationSection, NStatsD" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <statsD>
    <server host="localhost" port="8125" />
  </statsD>
  <akka>
    <hocon>
      <![CDATA[
          akka {
            # here we are configuring log levels
            log-config-on-start = on,
            stdout-loglevel = INFO,
            loglevel = INFO,
            loggers=["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]
            # this config section will be referenced as akka.actor
            log-remote-lifecycle-events = INFO
            actor{
                deployment{
                  /sender/push_manager/WinPhoneCoordinator/WP_PushActor{
                    router = round-robin-pool
                    nr-of-instances = 1
                  }
                }
            }
          }
      ]]>
    </hocon>
  </akka>

</configuration>